p {
    color: blue;
    background-color: red;
    font-family: sans-serif;
}
.jumbotron {
  background-color: yellow;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.center_div{
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding-top: 15px;
  /* background-color: black; */
}

input {
  width: 600px;;
}
